
c-tutorial/bin/array-pointers
CMakeFiles 
CMakeCache.txt
cmake_install.cmake
bin
CTestTestfile.cmake
LastTest.log
LastTestsFailed.log
CTestCostData.txt
*tests/Makefile
c-tutorial/tests/Makefile
systemcall/tests/Makefile
.DS_Store
c-tutorial/.DS_Store
exceptions/div_by_zero
exceptions/infinite_loop
exceptions/Makefile
exceptions/segfault_demo
exceptions/signal_handler
